# Nuxt
.output
.data
.nuxt
dist
.nitro
.cache

# Env
.env

# Dependencies
node_modules

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Supabase
supabase/.branches
supabase/.temp

# Build outputs
.netlify
dist
